html, body {
    background: #d4dfd0;
    width: 100%;
    min-height: 100%;
    padding:0;
    margin: 0;
    font-family: Verdana,sans-serif;
}
header {
    background: #475c4d;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}
#deviantart-logo {
    display: block;
    height: 30px;
    width: 130px;
    position: relative;
}
#deviantart-logo span {
    display: inline-block;
}
#deviantart-logo .mark {
    background-size: contain;
    background-image: url("https://st.deviantart.net/minish/main/logo/logo-mark.png");
    float: left;
    width: 18px;
    height: 30px;
    margin-right: 3px;
}
#deviantart-logo .type {
    background-size: contain;
    background-image: url("https://st.deviantart.net/minish/main/logo/logo-type.png");
    float: left;
    width: 109px;
    height: 30px;
}
#deviantart-logo .subtype {
    font: 8pt Verdana, sans-serif;
    letter-spacing: 0;
    position: absolute;
    top: 17px;
    left: 67px;
    z-index: 30;
    color: #93AA9B;
}

.page {
    overflow: hidden;
}
ul.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 50px;
}
ul.menu li {
    display: inline-block;
    margin-right: 15px;
}
ul.menu li a,
ul.menu li a:hover,
ul.menu li a:visited {
    text-decoration: none;
    background-image: none;
    display: block;
    text-transform: uppercase;
    color: #adc0b3;
    text-decoration: none;
    font-size: 12px;
}
ul.menu li a.selected,
ul.menu li a:hover {
    color: #fff;
}

.thumb {
    float: left;
    width: 300px;
    height: 250px;
    margin: 10px;
}
.thumb-expandable {
    width: auto;
    height: auto;
}
.ad {
    position: relative;
    font-size: 0; 
}
.ad.expandable iframe {
    position: absolute;
}
.dark {
    background: #cad6c7;
}
.thumb-narrow {
    width: 140px;
}
.full-row {
    width: calc(100% - 20px);
    position: relative;
}
.thumb-wide {
    width: 460px;
}

.obstruction {
    position: absolute;
    top: 100px;
    left: 0;
    clear: both;
    display: block;
    width: 300px;
    height: 300px;
    background: #475c4d;
    opacity: 0.8;
    cursor: move;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.p {
    padding: 4px;
}
.pp {
    padding: 8px;
}
.rel {
    position: relative;
}
